body,
html,
.row {
  scroll-behavior: smooth;
  height: 100%;
  font-family: Tohoma;
  /* font-family:Modak; */
  /* font-size:20px;  */
}

label,
textarea,
input {
  font-family: Tohoma;
  font-size: 1.5em;
}
.jumbotron {
  padding: 0px;
}

#home {
  width: 100%;
  min-height: 100vh;
  padding-top: 0px;
  background-image: url("image/back02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-attachment: fixed;
}
#home img {
  box-shadow: 3px 3px black;
  margin: 8px;
  padding: 3px;
}

#home .para {
  background-color: purple;
  font-family: cookie;
  font-size: 2em;
  margin: auto;
  letter-spacing: 2px;
  border: 2px outset yellow;
  border-radius: 50px 10px 50px 10px;
  color: white;
  text-shadow: 4px -4px 2px black;
}

#aboutme {
  min-height: 100vh;
  padding-top: 0px;
  background-image: url("image/back02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-attachment: fixed;
}

#technicalskills,
#workhistory,
#projects,
#contact {
  min-height: 100vh;
  padding-top: 0px;
  background-image: url("image/back02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-attachment: fixed;
}

#technicalskills .para,
#workhistory .para,
#projects .para,
#contact .para {
  background-color: purple;
  margin: auto;
  border: 2px outset yellow;
  border-radius: 50px 10px 50px 10px;
  color: white;
}

.fullwidth {
  width: 100%;
}

input,
select {
  border: 2px inset gray;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
}

button {
  color: white;
  font-size: 1.5em;
  background-color: blue;
  border-radius: 5px;
  height: 40px;
}

#mainfield > p {
  padding: 10px;
  text-align: justify;
}

.mask {
  background: rgba(124, 6, 25, 0.486);
  /* background-image:linear-gradient(to right,  purple, orange); opacity:0.7;  */
  opacity: 0.9;
  height: 100%;
}

.navbar {
  background-image: linear-gradient(to right, indigo, purple);
  /* background-color: purple; */
  border: 2px outset violet;
  border-radius: 25px 0px 25px 0px;
  font-family: Lobster;
  font-size: 20px;
}

.div1 {
  background-color: purple;
  margin: auto;
  border: 2px outset yellow;
  border-radius: 50px 10px 50px 10px;
  color: white;
  text-shadow: 3px 3px black;
  opacity: 1;
}

.div1 img {
  display: block;
  margin-right: 10px;
  border: 2px outset gray;
  border-radius: 50px;
}

section h1 {
  text-shadow: 4px 4px 4px black;
  color: orange;
  text-align: center;
  font-family: Lobster;
  font-weight: bold;
  margin: auto;
}

#technicalskills img {
  width: 8em;
  height: 8em;
  padding: 10px;
  margin: 10px;
  border: 2px outset blue;
  border-radius: 50px 10px 50px 10px;
}

#projects {
  text-align: center;
  color: white;
}

#projects .icon {
  display: inline-block;
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 5px;
  top: 0px;
  border-radius: 50px 10px 50px 10px;
}

a {
  color: white;
}

.dialogbox {
  background-color: silver;
  color: black;
  padding: 0px;
  margin: auto;
  font-size: 1em;
  text-align: center;
  border-color: black;
  border-radius: 50px;
  border: 2px outset gray;
}

.dialogbox > .head {
  background-color: blue;
  color: white;
  border-radius: 50px 50px 0 0;
  padding: 6px;
  font-weight: bold;
}

.dialogbox p {
  text-align: center;
}

.successladder {
  border-color: blue;
  padding: 15px;
}
.successladder .separator {
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 10px;
  height: 50px;
  margin: auto;
}

.footer {
  position: fixed;
  padding: 10px;
  bottom: 0px;
  text-align: center;
  background-color: silver;
  color: white;
}

.blank {
  background-image: url("image/back02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-attachment: fixed;
  min-height: 30%;
}

/* Timeline */
.main-timeline3 {
  overflow: hidden;
  position: relative;
  font-family: Tohoma;
}
.main-timeline3:before {
  content: "";
  width: 20px;
  height: 100%;
  border: 3px solid #959595;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline3 .timeline {
  width: 50%;
  padding: 10px 60px 10px 100px;
  float: right;
  position: relative;
}
.main-timeline3 .timeline:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c47c48;
  border: 5px solid #fff;
  box-shadow: 0 0 1px 5px #c47c48;
  position: absolute;
  top: 42px;
  left: -20px;
}
.main-timeline3 .timeline-content {
  display: block;
  background: #e9e9e7;
  padding: 70px 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  position: relative;
}
.main-timeline3 .timeline-content:hover {
  text-decoration: none;
}
.main-timeline3 .year {
  display: block;
  width: 25vw;
  height: 50px;
  background: #c47c48;
  padding: 0 0 0 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  line-height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  top: 20px;
  left: -20px;
}
.main-timeline3 .year:before {
  content: "";
  border-top: 20px solid #c47c48;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.main-timeline3 .title {
  font-size: 1.5em;
  font-weight: bold;
  /* text-transform:uppercase;  */
  color: green;
  text-align: justify;
}
.main-timeline3 .description {
  font-size: 1em;
  color: #6f6f6f;
  margin: 0px;
  text-align: justify;
}

.main-timeline3 .timeline:nth-child(2n) {
  padding: 10px 100px 10px 60px;
  text-align: right;
}
.main-timeline3 .timeline:nth-child(2n):before {
  left: auto;
  right: -20px;
  background: #bf3fc8;
  box-shadow: 0 0 1px 5px #bf3fc8;
}
.main-timeline3 .timeline:nth-child(2n) .year {
  padding-right: 50px;
  border-radius: 10px 10px 0;
  left: auto;
  right: -20px;
  background: #bf3fc8;
}
.main-timeline3 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 20px solid transparent;
  left: auto;
  right: 0;
  border-top-color: #bf3fc8;
}
.main-timeline3 .timeline:nth-child(2) {
  margin-top: 140px;
}
.main-timeline3 .timeline:nth-child(odd) {
  margin: -140px 0 0;
}
.main-timeline3 .timeline:nth-child(even) {
  margin-bottom: 60px;
}
.main-timeline3 .timeline:first-child,
.main-timeline3 .timeline:last-child:nth-child(even) {
  margin: 0;
}
.main-timeline3 .timeline:nth-child(3n):before {
  background: #ce3c41;
  box-shadow: 0 0 1px 5px #ce3c41;
}
.main-timeline3 .timeline:nth-child(3n) .year {
  background: #ce3c41;
}
.main-timeline3 .timeline:nth-child(3n) .year:before {
  border-top-color: #ce3c41;
}
.main-timeline3 .timeline:nth-child(4n):before {
  background: #8cc43d;
  box-shadow: 0 0 1px 5px #8cc43d;
}
.main-timeline3 .timeline:nth-child(4n) .year {
  background: #8cc43d;
}
.main-timeline3 .timeline:nth-child(4n) .year:before {
  border-top-color: #8cc43d;
}

@media only screen and (max-width: 990px) {
  /* Timeline */
  .main-timeline3 .timeline {
    padding: 20px 0px 5px 50px;
    text-align: left;
  }
  .main-timeline3 .timeline:nth-child(2n) {
    padding: 20px 50px 5px 5px;
    text-align: right;
  }
  .main-timeline3 .timeline:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c47c48;
    border: 5px solid #fff;
    box-shadow: 0 0 1px 5px #c47c48;
    position: absolute;
    top: 42px;
    left: -10px;
  }
  .main-timeline3 .timeline-content {
    display: block;
    background: #e9e9e7;
    padding: 45px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    position: relative;
  }

  .main-timeline3 .timeline:nth-child(2n):before {
    left: auto;
    right: -10px;
    background: #bf3fc8;
    box-shadow: 0 0 1px 5px #bf3fc8;
  }
  .main-timeline3 .timeline:nth-child(2n) .year {
    padding-right: 30px;
    border-radius: 10px 10px 0;
    left: auto;
    right: -20px;
    background: #bf3fc8;
  }
  .main-timeline3 .year {
    display: block;
    width: 25vw;
    height: 30px;
    background: #c47c48;
    padding: 0 0 0 25px;
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
    border-radius: 10px 10px 10px 0;
    position: absolute;
    top: 10px;
    left: -20px;
  }
  .main-timeline3 .title {
    font-size: 12px;
    font-weight: bold;
    /* text-transform:uppercase;  */
    color: green;
  }
  .main-timeline3 .description {
    font-size: 2vw;
    color: #6f6f6f;
    margin: 0px;
  }

  .main-timeline3 .timeline:nth-child(even) {
    margin-bottom: 30px;
  }
  .main-timeline3 .timeline:first-child,
  .main-timeline3 .timeline:last-child:nth-child(even) {
    margin: 0;
  }
  .main-timeline3 .timeline:nth-child(3n):before {
    background: #ce3c41;
    box-shadow: 0 0 1px 5px #ce3c41;
  }
  .main-timeline3 .timeline:nth-child(3n) .year {
    background: #ce3c41;
  }
  .main-timeline3 .timeline:nth-child(3n) .year:before {
    border-top-color: #ce3c41;
  }
  .main-timeline3 .timeline:nth-child(4n):before {
    background: #8cc43d;
    box-shadow: 0 0 1px 5px #8cc43d;
  }
  .main-timeline3 .timeline:nth-child(4n) .year {
    background: #8cc43d;
  }
  .main-timeline3 .timeline:nth-child(4n) .year:before {
    border-top-color: #8cc43d;
  }
}

/* ==== Rotate Element ==== */
.rotate-element {
  -webkit-animation: busyIcon 10s linear infinite;
  -moz-animation: busyIcon 10s linear infinite;
  animation: busyIcon 10s linear infinite;
}
@-moz-keyframes busyIcon {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes busyIcon {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes busyIcon {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*  ==== End of Rotate Element ==== */
